.NavigationItems {
  padding-top: 30px;
  display: flex;
  flex-flow: row;
  float: right;
}

@media(max-width : 600px) {
  .NavigationItems {
    margin-top: 5px;
   text-align: center;
   flex-flow: column;
   float: left;
   width: 100%;
 }
}